@using WebLabAI.ViewModels;
@model WebLabAI.ViewModels.ContactFormVM;
@using WebLabAI.Data;
@inject ApplicationDbContext _context


@{
    ViewData["Title"] = "Contact";
    // lay anh cua page do dua vao, hien tai minh dang link anh tu css
    // anh tai header

    // lay thong tin trang contact
    var pageCOntactvm = _context.Pages!.Where(x => x.Slug == "contact").ToList();


    var setting = _context.Settings!.ToList();
    var vm = new SettingVM()
            {
                GithubUrl = setting[0].GithubUrl,
                FacebookUrl = setting[0].FacebookUrl,
                LinkedinUrl = setting[0].LinkedinUrl,
            };

    
}


    <section id="about-home">
        <div>
            <h2 style="font-weight: bold">Contact Us</h2>
        </div>
        
    </section>

    <section id="contact">
        <div class="getin">
            <h2>Get in touch</h2>
            <p>Looking for help? Fill the form and start a new adventure.</p>

            <div class="getin-details">
                @foreach (var con2 in pageCOntactvm)
                {
                    <h3>Headquaters</h3>
                    <div>
                        <i class="far fa-home get"></i>
                        <p>@con2.Address</p>
                    </div>
                    <h3>Phone</h3>
                    <div>
                        <i class="fas fa-phone-alt get"></i>
                        <p>@con2.Phone</p>
                    </div>
                    <h3>Support</h3>
                    <div>
                        <i class="fal fa-envelope-open-text get"></i>
                        <p>
                            @con2.Email
                        </p>
                    </div>
                    <h3>Follow Us</h3>
                }
                
                <div class="pro-link">
                    <a class="fab fa-facebook-f" href="@vm.FacebookUrl"></a>
                    <a class="fab fa-github" href="@vm.GithubUrl"></a>
                    <a class="fab fa-linkedin-in" href="@vm.LinkedinUrl"></a>
                </div>
            </div>
        </div>

        <div class="form">
            <form asp-action="Contact" asp-controller="Page" class="cmxform form-horizontal " id="signupForm" novalidate="novalidate" enctype="multipart/form-data">
                <h4>Let’s Connect</h4>
                <p>Get in touch with our team </p>
                <div class="form-row">
                    <input asp-for="FirstName" type="text" placeholder="First Name" class="input">
                    <input asp-for="LastName" type="text" placeholder="Last Email"  class="input">
                </div>
                <div class="form-row">
                    <input asp-for="Email" type="email" placeholder="Your Email"  class="input">
                    <input asp-for="Phone" type="tel" placeholder="Phone"  class="input">
                </div>
                <div class="form-col">
                    <textarea asp-for="Message" class="input" cols="30" rows="8" placeholder="How can we help?"></textarea>
                </div>
                <div class="form-col">
                    <button class="btn btn-info" type="submit">Submit</button>
                </div>
            </form>
            
        </div>
    </section>

<section id="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.023456387894!2d106.69719467465838!3d10.732674160000025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528b2747a81a3%3A0x33c1813055acb613!2sTon%20Duc%20Thang%20University!5e0!3m2!1sen!2s!4v1693298418124!5m2!1sen!2s" 
     style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

